*.buildinfo
*.changes
*.ddeb
*.deb
*.debhelper.log
*.dsc
*.egg-info/
*.gz
*.substvars
*.xz
.debhelper/
.pybuild/
_build/
debhelper-build-stamp
files
dory-audio-tab/debian/dory-audio-tab/
dory-compare/debian/dory-compare/
dory-dropbox/debian/dory-dropbox/
dory-emblems/debian/dory-emblems/
dory-fileroller/debian/dory-fileroller/
dory-image-converter/debian/dory-image-converter/
dory-media-columns/debian/dory-media-columns/
dory-pastebin/debian/dory-pastebin/
dory-preview/debian/dory-preview/
dory-python/debian/python-dory-dbg/
dory-python/debian/python-dory/
dory-repairer/debian/dory-filename-repairer/
dory-seahorse/debian/dory-seahorse/
dory-share/debian/dory-share/
dory-terminal/debian/dory-terminal/
tmp/
