Source: dory-python
Section: python
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends:
    debhelper-compat (= 12),
    gtk-doc-tools,
    meson,
    libdory-extension-dev (>= 3.6),
    python3-dev,
    python-gi-dev,
Standards-Version: 3.9.6

Package: python-dory
Architecture: any
Provides: dory-python
Depends: gir1.2-dory-3.0 (>= 3.6), ${misc:Depends}, ${shlibs:Depends}
Description: Python binding for Dory components
 Python binding for Dory, to allow Dory property page and menu item
 extensions to be written in Python.

Package: python-dory-dbg
Section: debug
Architecture: any
Priority: extra
Depends: python-dory (= ${binary:Version}), ${misc:Depends}
Description: Debug packages for python-dory
 This development package contains unstripped binaries compiled with
 debugging symbols needed by gdb.
